# Dependencies
node_modules/

# Build
dist/

# Logs / local
*.log
*.local
.DS_Store
.env
.env.*
!.env.example

# npm pack artifacts
*.tgz

# Editor / IDE
.idea/
.vscode/
*.swp
*.swo


resources/**/*.xlsxcoverage/
